
main {
  width: 384px;
  margin: 100 auto;
  display: flex;
  flex-grow: 1;
}

.left-block {
  width: 160px;
  border-right: 1px solid #e0e0e0;
}


.buttons {
  height: 80px;
  padding-top: 55px;
}

.buttons button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 50%;
  background-color: #ece8e8;
  margin-bottom: 40px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.right-block {
  width: 224px;
   background-color: #ffffff;
}

#paint-canvas {
  cursor:crosshair;
    background-color: #ffffff;
}
